//System SCSS: Atoms, molecules, organisms, pages

//Utils
@import 'utils/normalize';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/swiper.min';
@import 'utils/animate';

//Bootstrap
@import 'bootstrap/bootstrap-grid';
@import 'bootstrap/nav';
@import 'bootstrap/forms';
@import 'bootstrap/transitions';
@import 'bootstrap/modal';
@import 'bootstrap/pagination';
@import 'bootstrap/breadcrumb';

//Variables
// fonts
$font-base: 16px;
$font-family: 'Galano', Helvetica, sans-serif;
$font-secondary: 'Cormorant';
$font-height: 1.5;

//colores
$c-morado: #6a00c2;
$c-moradoclaro: #a049f8;
$c-azuloscuro: #032258;
$c-azuloscuroclaro: #0d3781;
$c-azulform: #e6f1f4;
$c-azulclaro: #00ccff;
$c-rojoform: #f47151;
$c-amarillo: #ffe24d;
$c-turqoise: #00c2ab;
$c-text: #333;
$c-grey-text: #949494;
$c-grey: rgba(0, 0, 0, 0.05);

//Transitions
$transition: 0.3s;

//Box-shadow
$box-shadow-small: 0px 0px 15px rgba(0, 0, 0, 0.15);

//Border-radius
$border-radius: 8px;
$border-radius-small: 4px;

//Atoms
@import 'atoms/animations';
@import 'organisms/blog_module';
@import 'atoms/brand-icon';
@import 'atoms/breadcrumb';
@import 'atoms/buttons';
@import 'atoms/career-card';
@import 'atoms/career-card-new';
@import 'atoms/career-card-next';
@import 'atoms/career_nav';
@import 'atoms/col2-image-text';
@import 'atoms/colors-backgrounds';
@import 'atoms/cookies';
@import 'atoms/counter-numbers';
@import 'atoms/discount';
@import 'atoms/explorer';
@import 'atoms/faqs';
@import 'atoms/general';
@import 'atoms/icon-title-text';
@import 'atoms/imagen-texto-bold-boton';
@import 'atoms/img-container';
@import 'atoms/invoice';
@import 'atoms/job_item';
@import 'atoms/labels';
@import 'atoms/lamp-module';
@import 'atoms/letters';
@import 'atoms/logo';
@import 'atoms/notice';
@import 'atoms/number-lists';
@import 'atoms/number-list-home';
@import 'atoms/numbered-block';
@import 'atoms/offer';
@import 'atoms/paginations';
@import 'atoms/pills';
@import 'organisms/post';
@import 'atoms/profes';
@import 'atoms/scroll';
@import 'atoms/signature';
@import 'atoms/testimonials';
@import 'atoms/tools';
@import 'atoms/typos';
@import 'atoms/viewport';

//Organisms
@import 'organisms/at-border-right-module';
@import 'organisms/blog-menu';
@import 'organisms/bold-text-module';
@import 'organisms/footer';
@import 'organisms/forms';
@import 'organisms/header';
@import 'organisms/heroes';
@import 'organisms/modals';
@import 'organisms/pic-text-module';
@import 'organisms/promo-module';
@import 'organisms/posts';
@import 'organisms/sections';
@import 'organisms/slider-posts';
@import 'organisms/slides';
@import 'organisms/trapecios-module';
@import 'organisms/video';

//Pages
@import 'pages/error';
@import 'pages/landing/index';
@import 'pages/becas/index';
