//System SCSS: Atoms, molecules, organisms, pages

//Utils
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/swiper.min';
@import 'utils/animate';

//Bootstrap
@import 'bootstrap/bootstrap-grid.scss';
@import 'bootstrap/nav.scss';
@import 'bootstrap/forms.scss';
@import 'bootstrap/transitions.scss';
@import 'bootstrap/modal.scss';
@import 'bootstrap/pagination.scss';
@import 'bootstrap/breadcrumb.scss';


//Variables
// fonts
$font-base: 16px;
$font-family: 'Galano', Helvetica, sans-serif;
$font-secondary: 'Cormorant';
$font-height: 1.5;

//colores
$c-morado: #6A00C2;
$c-moradoclaro: #A049F8;
$c-azuloscuro: #032258;
$c-azuloscuroclaro: #0D3781;
$c-azulform: #E6F1F4;
$c-azulclaro: #00CCFF;
$c-rojoform: #F47151;



//Atoms
@import 'atoms/animations';
@import 'atoms/animations.scss';
@import 'atoms/breadcrumb.scss';
@import 'atoms/buttons.scss';
@import 'atoms/career-card.scss';
@import 'atoms/colors-backgrounds.scss';
@import 'atoms/cookies.scss';
@import 'atoms/counter-numbers.scss';
@import 'atoms/explorer.scss';
@import 'atoms/faqs.scss';
@import 'atoms/general.scss';
@import 'atoms/invoice.scss';
@import 'atoms/labels.scss';
@import 'atoms/lamp-module.scss';
@import 'atoms/logo.scss';
@import 'atoms/number-lists.scss';
@import 'atoms/offer.scss';
@import 'atoms/paginations.scss';
@import 'atoms/pills.scss';
@import 'atoms/profes.scss';
@import 'atoms/scroll.scss';
@import 'atoms/signature.scss';
@import 'atoms/testimonials.scss';
@import 'atoms/tools.scss';
@import 'atoms/typos.scss';
@import 'atoms/viewport.scss';

//Organisms
@import 'organisms/at-border-right-module.scss';
@import 'organisms/bold-text-module.scss';
@import 'organisms/footer.scss';
@import 'organisms/forms.scss';
@import 'organisms/header.scss';
@import 'organisms/heroes.scss';
@import 'organisms/modals.scss';
@import 'organisms/pic-text-module.scss';
@import 'organisms/posts.scss';
@import 'organisms/sections.scss';
@import 'organisms/slider-posts.scss';
@import 'organisms/slides.scss';
@import 'organisms/video.scss';




























