//Breadcrumb
.breadcrumb {
  background: transparent;
  padding: 0 0 24px;
  a {
    color: #ccc;
    font-weight: normal;
  }
  .breadcrumb-item.active {
    font-weight: bold;
    color: #fff;
  }
}
