///////////BUTTONS
.btn{font-size: 0.8125rem; text-align: center; display: block; padding: 12px 16px; border-radius: 4px; background: $c-morado; color: #fff; border-color: $c-morado; font-weight: bold; min-width: 165px;width: 100%;
  &:hover{background-color: #fff; transition: 0.25s; color: $c-morado;}
  &.btn-secondary{
    background: #fff; border: 2px solid $c-morado; color: $c-morado;
    &:hover{background: $c-morado; color: #fff; }
  }
  &.btn-white{color: $c-morado; background: #fff;
    &:hover{background: $c-moradoclaro; color: #fff;}
  }
}
.text-white .btn{
  &.btn-secondary{color: #fff; background: transparent; border-color: #fff;
    &:hover{background: $c-morado; transition: 0.3s; border-color: $c-morado; }
  }
}

input[type="submit"]{font-size: 100%; margin-top: 32px; -webkit-appearance: unset; appearance: unset;}

#help_btn{margin: 0 auto; background: $c-morado; color: #ffffff; position: fixed; left: 16px;  bottom: 24px; width: auto;  z-index: 10; box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  &:not(.double).white{background: #fff; color: $c-morado;
    &:hover{color: #fff; background: $c-morado; transition: 0.3s;}
  }
  &:hover{background: #fff; color: $c-morado; transition: 0.3s}
}
.button-container{margin:0;}
.link-primary{font-weight: bold; font-size: 87.50%;}
.link-primary-container{margin: 24px 0 0 0;}
.shoot-link, .shoot-link-blank{cursor: pointer;}
.purple-bg .link-primary:hover{color: #fff;
  &:hover{position:relative;
    &:after{content:''; width: 100%; height: 2px; background: #fff; display: block; margin-top: 2px; position: absolute;animation: 0.5s in-out forwards;}
  }
}

//*Buttons RWD*/
@include respond-above(md){
  .btn, #help_btn{display: inline-block; width: auto; font-size: 0.875rem;}
  input[type="submit"]{margin-top: 0;}
  .home .button-container #help_btn.white{position: relative; bottom: auto; right: auto; }
}
@include respond-above(lg){
  .btn, #help_btn{padding: 12px 32px; line-height:1;}
  .btn-container{margin-top: 56px;}
  .link-primary-container{margin: 56px 0 0 0;}
}
