.event-container {
  margin-bottom: 24px;
  border-radius: $border-radius;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: calc(100% - 24px);
  .img-container {
    height: 232px;
    margin-bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .data {
    background: $c-azulform;
    padding: 24px;
    box-sizing: border-box;
    flex: 1;
    .metadata {
      display: flex;
      justify-content: flex-start;
      font-weight: bold;
      margin-bottom: 8px;
      .time {
        border-left: 1px solid $c-grey-text;
        color: $c-grey-text;
        padding-left: 8px;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
      }
      img {
        display: inline-block;
      }
      .event-type {
        display: block;
      }
      *:not(a) {
        margin-right: 8px;
      }
    }
    .button-container {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 0;
      .btn {
        margin-right: 16px;
      }
    }
  }
  &.past {
    box-shadow: $box-shadow-small;
    .data {
      background: #fff;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

@include respond-above(lg) {
  .event-container {
    .data {
      .metadata {
        .event-type {
          display: inline-block;
        }
      }
      .button-container .btn {
        margin-right: 32px;
        height: 40px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &.featured {
      overflow: hidden;
      flex-direction: row;
      .data {
        flex: 1;
        display: block;
        order: 1;
        .button-container {
          margin-top: 64px;
        }
      }
      .img-container {
        order: 2;
        display: block;
        margin: 0;
        padding: 0;
        flex: 1;
        height: auto;
        width: 50%;
        img {
          display: block;
        }
      }
    }
  }
}
@include respond-above(xxl) {
  .event-container {
    .data {
      padding: 32px;
    }
  }
}
@include respond-above(xxxl) {
  .event-container {
    .data {
      padding: 64px;
    }
  }
}
