.opinion {
  background: $c-azulform;
  padding: 32px;
  display: flex;
  margin-bottom: 24px;
  border-radius: $border-radius-sm;
  height: calc(100% - 24px);
  strong {
    display: block;
  }
  p:last-child {
    margin: 0;
  }
  .rrss {
    width: 50px;
    height: 50px;
    margin-right: 16px;
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .svg-hover {
      width: 100%;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      path {
        fill: $c-azuloscuro;
      }
      &:hover path {
        fill: $c-morado;
      }
    }
  }
}
