#main#main.entry-content .col-xl-12.col-xxl-7 {
  h2,
  figure {
    margin-top: 36px;
    margin-bottom: 24px;
    line-height: 1.2;
  }
  h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    line-height: 1.2;
  }
}
@include respond-above(md) {
  #main.entry-content .col-xl-12.col-xxl-7 {
    h2,
    figure {
      margin-top: 40px;
    }
    h3 {
      margin-top: 32px;
    }
  }
}
@include respond-above(lg) {
  #main.entry-content .col-xl-12.col-xxl-7 {
    h2,
    figure {
      margin-top: 56px;
    }
    h3 {
      margin-top: 40px;
    }
  }
}
@include respond-above(xl) {
  #main.entry-content .col-xl-12.col-xxl-7 {
    h2,
    figure {
      margin-top: 72px;
    }
    h3 {
      margin-top: 52px;
    }
  }
}
@include respond-above(xxl) {
  #main.entry-content .col-xl-12.col-xxl-7 {
    h2,
    figure {
      margin-top: 88px;
    }
    h3 {
      margin-top: 72px;
    }
  }
}
@include respond-above(xxxl) {
  #main.entry-content .col-xl-12.col-xxl-7 {
    h2,
    figure {
      margin-top: 96px;
    }
    h3 {
      margin-top: 72px;
    }
  }
}
