///////////ASIGNATURAS
.signatures{
  list-style-type:none;
  li{font-size: 100%; margin-bottom: 32px;
    p:not(.h5){font-size: 100%;}
    .h5{margin-bottom: 8px;line-height: 1}
    a{color: #000;
      &:hover{color: $c-morado}
    }
  }
}
@include respond-above(lg){
  .signatures{
    li{margin-bottom: 40px;}
  }
}
