#terms {
  img,
  svg {
    max-width: 100px;
  }
  ul.terms li {
    list-style: none;
    font-size: 30px;
    line-height: 1.8;

    a {
      color: #000;

      &:hover {
        color: $c-morado;
      }
    }
  }
}
