.hidden{display:none;}
.mtno{margin-top: 0 !important;}
.mno{margin: 0 !important;}
.mt110{margin-top: 110px;}
.mt152{margin-top:152px;}
.head-margin{margin-bottom: 56px;}
.pd64{padding: 16px !important; }
.b-radius{border-radius: 4px; overflow:hidden;}
.v-center{display: flex; align-items: center; justify-content: center; height: 100%; //centrado vertical
  &.column{flex-direction: column;}
}
.collapse:not(.show) { //Colapse en tabs
  display: none;
}
.separator{border-top: 2px solid  $c-azulform; clear: both;}

.columnado4{column-count: 2; column-gap: 32px; list-style-type: none;
  li{margin-bottom: 24px; padding: 0; line-height: 1.2;}
}
@include respond-above(md){
  .pd64{padding: 24px  !important;; }
}
@include respond-above(lg){
  .is-fixed{position: fixed; top: 110px;}
  .pd64{padding: 64px  !important;; }
  .head-margin{margin-bottom: 84px;}
  .columnado4{column-count: 4;}
  .b-radius{border-radius: 8px; }
}