.text-center{text-align: center;}
.text-right{text-align: right;}
.uppercase{text-transform: uppercase;}
/** TEXTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– **/
a{text-decoration:none; color: $c-morado; font-weight: bold;
  &:hover{color: $c-azuloscuro}
}
p.scroll{height: 3000px;background: purple; margin: 0;}
p{margin: 0; padding: 0; }
ul, ol{margin: 0; padding: 0; line-height: 1.8; list-style-position: inside;
  &.inline{list-style-type: none; line-height: 1.4;
    li{display: inline-block; }
  }
  ol{list-style-type: lower-latin;}
  ol, ul{padding-left: 48px;}
}
figure{margin: 0;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin-top: 72px; margin-bottom: 16px; font-weight: bold;}
h1, .h1{font-size: 2.5rem; margin-top: 120px; margin-bottom: 32px;}
h2, .h2{font-size: 1.875rem /*30px*/; margin-top: 120px; margin-bottom: 24px;}
h3, .h3{font-size: 1.5625rem /*25px*/; margin-top: 96px;}
h4, .h4{font-size: 1.25rem /*20px*/;}
h5, .h5{font-size: 1.125rem /*18px*/; }
h6, .h6{font-size: 0.875rem; /*14px*/}
p, ul, ol, .p{margin-bottom: 16px; font-size: 1rem; font-weight: normal; margin-top: 0;}
p.subtitle{font-size: 1.125rem; line-height: 1.2;}
figcaption{font-size: 0.8125rem;}
blockquote{font-family: $font-secondary; font-size: 1.5rem; padding-top: 124px; padding-bottom: 20px;  margin: 48px 0 28px; background: url(img/quote.svg) no-repeat left top; background-size: 155px; font-style: italic;
  p{font-size: 1em;}
  cite{font-family: $font-family; font-size: 13px;  font-style: normal;}
}
.entry-content{
  figure{margin: 48px 0 24px;
    figcaption{margin: 16px 0 24px;}
    img{min-width: 100%;}
  }
  li{
    margin-left: 20px;
    list-style-type: auto;
    list-style-position: outside;
  }
}
@include respond-above(sm){
  .entry-content{
    figure img{min-width: auto;}
  }
}

/* Texts WYSIWYG RWD */
@include respond-above(xl){
  h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin-top: 96px; margin-bottom: 16px}
  h1, .h1{font-size: 3.75rem; margin-top: 144px; margin-bottom: 32px;}
  h2, .h2{font-size: 3.125rem; margin-top: 144px; margin-bottom: 16px;}
  h3, .h3{font-size: 2.50rem; margin-top: 145px; margin-bottom: 16px;}
  h4, .h4{font-size: 1.875rem;}
  h5, .h5{font-size: 1.5625rem; }
  h6, .h6{font-size: 1.25rem;}
  p.subtitle{font-size: 1.25rem;}
  figcaption{font-size: 0.8125rem;}
  blockquote{ font-size: 2rem; padding-left: 324px; padding-top: 48px; padding-bottom: 20px;  margin: 48px 0 28px; background: url(img/quote.svg) no-repeat left top; background-size: 179px;}
  .entry-content{
    figure{margin: 115px 0 24px;
      figcaption{margin: 16px 0 0;}
      &.alignleft{margin: 28px 40px 28px 0; float: left;}
      &.alignright{margin: 28px 0 28px 40px;float: right;}
      &.aligncenter{margin: 56px auto; text-align: center;}
      p, .p, li{line-height: 1.5}
    }
  }
}
@include respond-above(xxxl){
  h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{margin-top: 120px; margin-bottom: 24px;}
  h1, .h1{font-size: 5rem; margin-top: 160px; margin-bottom: 40px;}
  h2, .h2{font-size: 4.125rem; margin-top: 160px; margin-bottom: 32px;}
  h3, .h3{font-size: 3.3125rem; margin-top: 145px; margin-bottom: 32px;}
  h4, .h4{font-size: 2.4375rem;}
  h5, .h5{font-size: 1.75rem; }
  h6, .h6{font-size: 1.50rem;}
  p, .p{font-size: 1.31rem; margin-bottom: 24px;}
  .entry-content {
    figcaption{font-size: 1.0625rem;}
    p, .p{line-height: 1.8}
    li{font-size: 1.31rem;
      ul, ol{font-size: 1rem;}
    }
  }
  blockquote{font-size: 2.625rem; padding-left: 284px; padding-top: 64px; padding-bottom: 20px; margin: 56px 0 36px; background-size: 247px;
    cite{font-size: 40.476%;}
  }
}


