#main.error-page{
  .container{max-width: 600px}
  .img-container{margin: 64px auto; }
  .substract{font-size: 0.8125rem; text-align: left; color: #595959; padding-left:72px; background: transparent url('img/substract.svg') no-repeat left center; background-size: 56px; margin: 32px 0;  }
}