//////////COUNTER NUMBERS
.landing-counters {
  padding-top: 40px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.05);
  .btn-container {
    display: none;
    &.fixed {
      display: block;
      .btn {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 10;
        margin: 16px;
        box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
      }
    }
  }
  .definition {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 4px;
  }
  p.main-title {
    line-height: 1;
    margin: 0 0 16px 0;
  }
  p.secondary {
    font-size: 0.875rem;
  }
  .mobile-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@include respond-below(md) {
  .landing-counters {
    .btn-container {
      display: block;
      margin-bottom: 32px;
      &.fixed .btn {
        width: calc(100% - 32px);
      }
    }
  }
}
@include respond-above(md) {
  .landing-counters.fixed {
    .btn-container {
      width: auto;
      right: 16px;
    }
  }
}

@include respond-above(lg) {
  .landing-counters {
    .btn-container {
      display: none;
    }
    .btn-container.fixed {
      display: block;
      .btn {
        position: fixed;
        bottom: 16px;
        right: 16px;
        z-index: 10;
      }
    }
    p.secondary {
      margin-bottom: 0;
    }
  }
}
