.blog-menu {
  margin: 40px 0;
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    * {
      transition: $transition;
    }

    p {
      margin: 0;
      display: none;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      flex-wrap: wrap;
      height: 20px;
      overflow: hidden;
      transition: $transition;
    }

    ul li {
      margin-right: 32px;
      line-height: 1.2;
    }

    ul li a {
      color: $c-text;
      font-weight: normal;
    }

    ul li a:hover {
      color: $c-morado;
    }

    .expander {
      justify-self: flex-end;
      margin-left: auto;
      white-space: nowrap;
      .text {
        display: none;
      }

      span.mas-menos:after {
        content: 'más';
      }

      i.caret-down {
        background: url('img/select-icon.svg') no-repeat center center;
        background-size: 100%;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: initial;
      }
    }
  }
  &.expanded {
    .container {
      align-items: flex-start;
      padding-bottom: 8px;

      span.mas-menos:after {
        content: 'menos';
      }

      ul {
        height: auto;
        overflow: visible;

        li {
          margin-bottom: 16px;
        }
      }

      i.caret-down {
        transform: rotate(180deg);
        vertical-align: middle;
      }
    }
  }
  &.fixed.nav-up {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 10;
    margin-top: 0;
    border-radius: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }
}

@include respond-above(md) {
  .blog-menu {
    .container {
      p {
        display: inline-block;
      }
      ul {
        margin: 0 32px;
      }
      .expander .text {
        display: inline-block;
        margin-right: 4px;
      }
    }
    &.blog-home {
      padding: 0 20px;
    }
  }
}
