/////////Trapecios
.trapecios-bg{background-image: url(img/trapecios-up.svg); background-repeat: no-repeat; background-position: top left; background-size: 100%;
  .text-blue{margin-top: 140px;
    .h2{max-width: 100%; padding-left: 15%;}
  }
  .super-number strong{font-size: 500%; display: block; line-height:1;}
  &.trapecios-social-bg{
    background-image: url(img/trapecios-social-up.svg);
    background-position: bottom;
    background-size: cover;
    .super-number {
      small{
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        top: 8px;
        margin-right: 4px; 
      }
      strong{display: inline-block; vertical-align: top; }
    }
  }
}
@include respond-above(md){
  .trapecios-bg{background-image: url(img/trapecios.svg); background-size: contain; background-position: -120% top;
    .text-blue{margin-top: 0;}
    &.trapecios-social-bg{
      background-image: url(img/trapecios-social.svg);
      background-position: left -200px top 0;
      background-size: cover;
      background-color: $c-azuloscuro;
    }
  }
}
@include respond-above(lg){
  .trapecios-bg{
    background-position: left top;
    &.trapecios-social-bg {
      background-position: left top;
      background-size: contain;
    }
  }

}
